<!DOCTYPE html>
<html>
  <head>
    <title>Flight School</title>
  </head>
  <body>
    <p>
      Host: <%= %x(hostname).chomp %>
    </p>

    Current status of airports:

    <ul>
      <% airports.each do |airport| %>
        <li><a href="/airports/<%= airport %>"><%= airport %></a></li>
      <% end %>
    </ul>
  </body>
</html>
